<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorApp">

        <activity
            android:name=".MainActivity"
            android:label="Splash Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:exported="true" />

        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up"
            android:exported="false" />

        <activity
            android:name=".DashboardNavBar"
            android:label="Dashboard"
            android:exported="false" />

        <activity
            android:name=".SignOutActivity"
            android:label="Sign Out"
            android:exported="true" />

        <activity
            android:name=".StudentProfile"
            android:label="Student Profile"
            android:exported="false" />

        <activity
            android:name=".TutorProfile"
            android:label="Tutor Profile"
            android:exported="false" />

        <activity
            android:name=".CalenderActivity"
            android:label="Calender"
            android:exported="false" />

        <activity
            android:name=".EditProfile"
            android:label="Edit Profile"
            android:exported="false" />

        <activity
            android:name=".MessagesActivity"
            android:label="Messages"
            android:exported="false" />

        <activity
            android:name=".EditTutorProfile"
            android:label="EditTutor"
            android:exported="false" />

        <activity
            android:name=".TutorDashboardNavBar"
            android:label="TutorDashboard"
            android:exported="false" />
        <activity
            android:name=".TutorProfileLogIn"
            android:label="TutorLogin"
            android:exported="false" />
        <activity
            android:name=".TutorMessagesActivity"
            android:label="TutorMessages"
            android:exported="false" />
        <activity
            android:name=".TutorCalenderActivity"
            android:label="TutorCalender"
            android:exported="false" />

        <activity
            android:name=".TutorSignOutActivity"
            android:label="TutorSignOut"
            android:exported="false" />

        <activity
            android:name=".TutorLoginActivitytest"
            android:label="TutorLoginPage"
            android:exported="false" />

        <activity
            android:name=".StudentSearch"
            android:label="SearchClass"
            android:exported="false" />

        <activity
            android:name=".StudentEnroll"
            android:label="Enroll"
            android:exported="false" />

        <activity
            android:name=".NotificationActivity"
            android:label="Notification"
            android:exported="false" />

        <activity
            android:name=".TutorNotificationActivity"
            android:label="TutorNotification"
            android:exported="false" />
        <activity
            android:name=".SoloMessagesActivity"
            android:label="SoloMessage"
            android:exported="false" />
        <activity
            android:name=".TutorAvailabilityActivity"
            android:label="Availability"
            android:exported="false" />
        <activity
            android:name=".TutorTimeSelection"
            android:label="TimeSelection"
            android:exported="false" />

        <activity
            android:name=".StudentInstantSession"
            android:label="InsantSession"
            android:exported="false" />

        <activity
            android:name=".TutorOnboarding"
            android:label="Onboarding"
            android:exported="false" />

        <meta-data

            android:name="com.google.android.geo_API_KEY"
            android:value="@string/google_map_api_key" />

    </application>

</manifest>
